<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.watermanager.repository.ToxicityMapper">

    <resultMap id="toxicityResultMap" type="Toxicity">
        <id property="tId" column="t_id"/>
        <result property="tValue" column="t_value"/>
        <result property="tDate" column="t_date"/>
    </resultMap>

    <select id="selectAllToxicity" resultMap="toxicityResultMap">
        select t_value,t_date from toxicity  where 1=1 order by t_date desc limit 0,1;
    </select>

    <insert id="insertToxicity" parameterType="Toxicity">
        insert into toxicity values (default ,#{tValue},default );
    </insert>

</mapper>